name: GitHub Actions
run-name: ${{ github.actor }} products-service github-actions
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - main

jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ['21']
    container:
      image: maven:3.9-eclipse-temurin-21
    steps:
      - name: Checkout code
        uses: actions/checkout@v4



      # Запускаются тесты из папки test
      - name: Run mvn test Java ${{ matrix.java-version }}
        run:  mvn test -Dprotobuf.skip=true
        env:
          SPRING_PROFILES_ACTIVE: test

      # Генерирует HTML-отчёт о тестах
      - name: Generate test Report
        run: mvn surefire-report:report